---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<h1>{{ title or metadata.title }}</h1>

	<p style="font-style: oblique;">This is a site dedicated to discovering and preserving the area history of Omard, Michigan—an unincorporated community located in the Thumb of Michigan.</p>
</div>


<!-- Stop deleting -->

{{ content | safe }}
