---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->


{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	

	<h3>This is a site dedicated to discovering and preserving the area history of Omard, Michigan—an unincorporated community located in the Thumb of Michigan.</h3>
</div>


<!-- Stop deleting -->

{{ content | safe }}
